.pagina {
    background-color: #FFFFFF;
}

#logo{
    background-color: #FFFFFF;
    width: 20vw;
	margin-left: 2%;
}

.header{
    background-color: #1E1E20;
    background-position: 20% 60%;
    background-size: 40%;
    padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 3.5%;
    font-family: 'Raleway';
    color: #BBC3C6;
	vertical-align: middle;
	margin-left: 1%;
}

.header a{
    display: inline;
	padding-left: 3%;
	padding-right: 0.5%;
	color: #BBC3C6;
	font-weight: bold;
	vertical-align: middle;
	font-size: 1.25vw;
}

#menu{
    display:inline;
}

section{
	
}

footer{
    background-color: #1E1E20;
	padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
	padding-bottom: 2%;
    height: 20%;
    width: 100%;
    left: 0;
    font-family: 'Raleway';
	font-size: 1vw;
    color: #BBC3C6;
    position: relative;
	overflow: hidden;
}

footer h3{
	text-align: center;
	margin-bottom: 10%;
	font-size: 2vw;
}

footer a{
	color: #BBC3C6;
	text-decoration: underline;
}

footer div div p{
	text-align: center;
}

.lessmargin{
	margin-bottom: 0%;
}

.columna{
    float: left;
    width: 33%;
}

.reducedclickarea{
	display: block;
	padding: 1%;
}

.rrss{
	width: 12%;
	height: 12%;
}

#redes{
	text-align: center;
	margin-bottom: 5%;
}