.pagina {
    background-color: #FFFFFF;
}

.header{
    background-color: #1E1E20;
    font-family: 'Raleway';
    color: #BBC3C6;
}

.footer{
    background-color: #1E1E20;
    font-family: 'Raleway';
    color: #BBC3C6;
}