@media (min-width: 200px) {
	aside{	
		width: 25%;
		margin-left: 3%;
		font-family: 'Raleway';
		font-size: 1.25vw;
		color: #BBC3C6;
		margin-top: 9%;
	}
	
	#co_aside{	/*Bloque paralelo al aside*/
		width: 75%;
	}
	
	aside h1{
		font-family: 'Viga';
		color: #1E1E20;
		font-size: 3vw;
		margin-bottom: 20%;
	}
	
	aside a, article a{
		color: #962715;
		font-size: 1.5vw;
	}
	
	aside li{
		margin-top: 10%;
		margin-left: -5%;
	}
}