.BarraLateral{
    float:left;
}

.Seccion1 img{
    float: left;
    padding: 0 20px 20px 0;
}

.Seccion2 img{
    float: right;
    padding: 0 20px 20px 0;
}

.Seccion3 img{
    float: left;
    padding: 0 20px 20px 0;
}

.Seccion1 h1{
    float: right;
    padding: 0 20px 20px 0;
}

.Seccion2 h1{
    float: left;
    padding: 0 20px 20px 0;
}

.Seccion3 h1{
    float: right;
    padding: 0 20px 20px 0;
}

.Seccion1 p{
    float: right;
    padding: 0 20px 20px 0;
}

.Seccion2 p{
    float: left;
    padding: 0 20px 20px 0;
}

.Seccion3 p{
    float: right;
    padding: 0 20px 20px 0;
}

.Seccion article img h1{
    font-family: 'Viga';
    color:  #1E1E20;
}

.Seccion article img h1 p{
    font-family: 'Raleway';
    color:  #1E1E20;
}
